# Streamlit & UI
streamlit==1.54.0

# Google Gemini AI
google-generativeai==0.8.6
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.190.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
grpcio==1.78.0
grpcio-status==1.71.2

# PDF Generation
reportlab==4.4.10
PyMuPDF==1.27.1

# OCR & Image Processing
pytesseract==0.3.13
opencv-python==4.13.0.92
numpy==1.26.4
pillow==12.1.1

# Database
SQLAlchemy==2.0.46
PyMySQL==1.1.2

# Blockchain / Solana
solana==0.36.11
solders==0.27.1
PyNaCl==1.6.2
base58==2.1.1

# Utilities
python-dotenv==1.2.1
requests==2.32.5
pandas==2.3.3
tenacity==9.1.4
urllib3==2.6.3
tqdm==4.67.3
